<!DOCTYPE html>
<html lang="en">
	<!-- Mirrored from themezhub.net/goodup-live/goodup/dashboard by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 17:06:05 GMT -->
	<head>
		<%- include('includes/head.ejs') %>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
			integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>

	<body>
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div class="preloader"></div>

		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div id="main-wrapper">
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!-- Start Navigation -->
			<%- include('includes/header.ejs') %>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- =============================== Dashboard Header ========================== -->
			<style>
				/* Your existing styles here */

				@media (max-width: 768px) {
					.add-list-btn {
						width: 46%;
						font-size: 13px;
						margin: 5px; /* Make the buttons take full width on smaller screens */
					}

					.dashboard-head-author-clicl {
						max-width: 100%; /* Adjust the maximum width for smaller screens */
					}
					.flex-container {
						margin-left: 0px;
					}
					.add-list-btn.hidden {
						display: none;
					}
					.abs-list-sec {
						margin-left: 30px;
					}

					/* Add any additional styles for smaller screens here */
				}
			</style>

			<!-- =============================== Dashboard Header ========================== -->
			<%- include('includes/dashboardHeader.ejs') %>
			<!-- =============================== Dashboard Header ========================== -->

			<!-- ======================= dashboard Detail ======================== -->
			<div class="goodup-dashboard-wrap gray px-4 py-5">
				<a
					class="mobNavigation"
					data-bs-toggle="collapse"
					href="#MobNav"
					role="button"
					aria-expanded="false"
					aria-controls="MobNav"
				>
					<i class="fas fa-bars me-2"></i>Dashboard
				</a>
				<!-- =============================== Dashboard Nav ========================== -->
				<%- include('includes/dashboardNav.ejs') %>
				<!-- ======================= dashboard mobileNav ======================== -->

				<div class="goodup-dashboard-content">
					<div class="dashboard-tlbar d-block mb-5">
						<div class="row">
							<div class="colxl-12 col-lg-12 col-md-12">
								<h1 class="ft-medium">Add Advert</h1>
								<nav aria-label="breadcrumb">
									<ol style="gap: 5px" class="breadcrumb">
										<li class="text-muted"><a href="/">Home</a></li>
										<li class="text-muted"><a href="/dashboard">Dashboard</a></li>
										<li class="breadcrumb-item">
											<a href="#" class="theme-cl">Add Adverts</a>
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>

					<div class="dashboard-widg-bar d-block">
						<div class="row">
							<div class="col-xl-12 col-lg-2 col-md-12 col-sm-12">
								<div class="submit-form">
									<!-- Listing Info -->
									<div class="dashboard-list-wraps bg-white rounded mb-4">
										<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
											<div class="dashboard-list-wraps-flx">
												<h4 class="mb-0 ft-medium fs-md">
													<i class="fa fa-file me-2 theme-cl fs-sm"></i>
													Advert Info
												</h4>
											</div>
										</div>

										<div class="dashboard-list-wraps-body py-3 px-3">
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Advert Title</label>
														<input
															type="text"
															id="title"
															class="form-control rounded"
															placeholder="Decathlon Sport House"
														/>
													</div>
													<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
														<div class="form-group">
															<label class="mb-1">Sub Title</label>
															<input
																type="text"
																id="subtitle"
																class="form-control rounded"
																placeholder="enter subtitle"
															/>
														</div>
													</div>
												</div>

												<style>
													/* Default styles for all screens */

													/* Media query for large screens */
													@media screen and (min-width: 1200px) {
														/* Styles for large screens go here */
														.cat {
															width: 66%;
															display: flex;
															gap: 11px;
														}
														/* Add more styles for large screens as needed */
													}
												</style>

												<div class="cat">
													<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
														<div class="form-group">
															<label class="mb-1">Categories</label>
															<select id="category" class="form-control">
																<option value="hotel">Hotel & Spa</option>
																<option value="education">Education</option>
																<option value="wed"></option>Wedding</option>
																<option value="res">Restaurents</option>
																<option value="caf">Cafe & Bars</option>
																<option value="bank">Bankings</option>
																<option value="serv">Services</option>
															</select>
														</div>
													</div>

													<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
														<div class="form-group">
															<label class="mb-1">Sub Categories</label>
															<select id="subCategory" class="form-control">
															<option value="hotel">Hotel & Spa</option>
																<option value="education">Education</option>
																<option value="wed"></option>Wedding</option>
																<option value="res">Restaurents</option>
																<option value="caf">Cafe & Bars</option>
																<option value="bank">Bankings</option>
																<option value="serv">Services</option>
															</select>
														</div>
													</div>
												</div>

												<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Description</label>
														<textarea
															id="description"
															name="description"
															class="form-control rounded ht-150"
															placeholder="Describe your business"
														></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Image & Gallery Option -->
									<div class="dashboard-list-wraps bg-white rounded mb-4">
										<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
											<div class="dashboard-list-wraps-flx">
												<h4 class="mb-0 ft-medium fs-md">
													<i class="fa fa-camera me-2 theme-cl fs-sm"></i>Image
													& Gallery Option
												</h4>
											</div>
										</div>

										<div class="dashboard-list-wraps-body py-3 px-3">
											<div class="row">
											<!-- Featured Image -->
												<div class="col-lg-4 col-md-6">
													<label class="mb-1" for="imageInput1"
														>Featured Image</label
													>
													<div class="dropzone" id="imageDropzone1">
														<label for="imageInput1">
															<img
																class="displayImage"
																src=""
																alt="imageDropzone1"
																style="
																	display: none;
																	width: 60px;
																	height: 60px;
																	border-radius: 100%;
																	object-fit: contain;
																	object-position: center;
																"
															/>
															<i class="fas fa-upload uploadIcon"></i>
															<input
																type="file"
																id="imageInput1"
																class="imageInput"
																name="image"
																style="display: none"
															/>
															<p class="imageName">
																Drop file here to upload
															</p>
														</label>
													</div>
													<label class="smart-text" for="imageInput1"
														>Maximum file size: 2 MB.</label
													>
												</div>
											</div>
										</div>
									</div>
									<!-- Social Links -->
									<div class="dashboard-list-wraps bg-white rounded mb-4">
										<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
											<div class="dashboard-list-wraps-flx">
												<h4 class="mb-0 ft-medium fs-md">
													<i class="fa fa-user-friends me-2 theme-cl fs-sm"></i
													>Social Links
												</h4>
											</div>
										</div>

										<div class="dashboard-list-wraps-body py-3 px-3">
											<div class="row" id="socials">
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1"
															><i class="ti-facebook theme-cl me-1"></i
															>Facebook</label
														>
														<input
															type="text"
															id="facebook"
															class="form-control rounded"
															placeholder="https://facebook.com/"
														/>
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1"
															><i class="fa-brands fa-x-twitter"></i>
															Twitter</label
														>
														<input
															type="text"
															id="twitter"
															class="form-control rounded"
															placeholder="https://twitter.com/"
														/>
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1"
															><i class="ti-instagram theme-cl me-1"></i
															>Instagram</label
														>
														<input
															type="text"
															id="instagram"
															class="form-control rounded"
															placeholder="https://instagram.com/"
														/>
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1"
															><i class="ti-linkedin theme-cl me-1"></i
															>Linkedin</label
														>
														<input
															type="text"
															id="linkedin"
															class="form-control rounded"
															placeholder="https://linkedin.com/"
														/>
													</div>
												</div>
												<div class="eltio_k2">
													<p id="errorText" class="theme-cl"></p>
												</div>
												<!-- style="display: flex; gap: 150px; text-align: center" -->
												<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
													<!-- <button class="btn theme-bg rounded text-light">
														Save All
													</button> -->
													<button
														type="button"
														id="submitBtn"
														class="btn theme-bg rounded text-light"
													>
														Submit & Preview
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- footer -->
					<div class="row">
						<div class="col-md-12">
							<div class="py-3">
								<p class="mb-0">
									<a style="color: blue" href="https://foramfera.com/"
										>© 2024 Foraminifera Market Research LTD.</a
									>
									All rights reserved.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ======================= dashboard Detail End ======================== -->

			<a id="tops-button" class="top-scroll" title="Back to top" href="#"
				><i class="ti-arrow-up"></i
			></a>
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
        <%- include('includes/end.ejs') %>
		<input type="text" style="display: none;" id="userId" value="<%= user._id %>">
		<input type="text" style="display: none;" id="businessId" value="<%= business?._id %>">
		<script src="assets/js/addAdvert.js"></script>

		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

	<!-- Mirrored from themezhub.net/goodup-live/goodup/add-listing by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 17:05:36 GMT -->
</html>
