<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Mirrored from themezhub.net/goodup-live/goodup/login by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 17:06:10 GMT -->
		<%- include('includes/head.ejs') %>
	</head>

	<body>
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div class="preloader"></div>

		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div id="main-wrapper">
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!-- Start Navigation -->
			<%- include('includes/header2.ejs') %>

			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ======================= Login Detail ======================== -->
			<section class="gray">
				<div class="container">
					<div class="row align-items-start justify-content-center">
						<% if (errorMessage) { %>
						<div
							class="alert bg-inverse text-light d-flex align-items-center"
							role="alert"
						>
							<p class="p-0 m-0 ft-medium full-width"><%= errorMessage %></p>
							<button
								type="button"
								class="btn-close text-light"
								data-bs-dismiss="alert"
								aria-label="Close"
							></button>
						</div>
						<% } %> <% if (successMessage) { %>
						<div
							class="alert bg-inverse text-light d-flex align-items-center"
							role="alert"
						>
							<p class="p-0 m-0 ft-medium full-width"><%= successMessage %></p>
							<button
								type="button"
								class="btn-close text-light"
								data-bs-dismiss="alert"
								aria-label="Close"
							></button>
						</div>
						<% } %>
						<div class="col-xl-5 col-lg-8 col-md-12">
							<div class="signup-screen-wrap">
								<div class="signup-screen-single">
									<div class="text-center mb-4">
										<h4 class="m-0 ft-medium">Forgot Password</h4>
									</div>

									<form
										id="ForgotPasswordForm"
										class="submit-form"
										method="post"
										action="/forgot-password"
									>
										<div class="form-group">
											<label class="mb-1" for="email">Email</label>
											<input
												id="email"
												type="email"
												name="email"
												class="form-control rounded"
												placeholder="example@gmail.com"
												autocomplete="email"
												value="<%= oldInput.email %>"
											/>
										</div>
										<div class="eltio_k2">
											<p id="errorText" class="theme-cl"></p>
										</div>

										<div class="form-group">
											<div
												class="d-flex align-items-center justify-content-between"
											>
												<div class="flex-1">
													<input
														id="dd"
														class="checkbox-custom"
														name="dd"
														type="checkbox"
														checked
													/>
													<label for="dd" class="checkbox-custom-label"
														>Remember Me</label
													>
												</div>
												<div class="eltio_k2">
													<a href="#" class="theme-cl">Lost Your Password?</a>
												</div>
											</div>
										</div>

										<div class="form-group">
											<button
												id="loginBtn"
												type="submit"
												class="btn btn-md full-width theme-bg text-light rounded ft-medium"
											>
												Sign In
											</button>
										</div>

										<div class="form-group text-center mb-0">
											<p class="extra">Or login with</p>
											<div class="option-log">
												<div class="single-log-opt">
													<a href="javascript:void(0);" class="log-btn"
														><img
															src="assets/img/c-1.png"
															class="img-fluid"
															alt=""
														/>Login with Google</a
													>
												</div>
												<div class="single-log-opt">
													<a href="javascript:void(0);" class="log-btn"
														><img
															src="assets/img/facebook.png"
															class="img-fluid"
															alt=""
														/>Login with Facebook</a
													>
												</div>
											</div>
										</div>

										<div class="form-group text-center mt-4 mb-0">
											<p class="mb-0">
												Your Business Is Not Registered?
												<a href="signup" class="ft-medium text-success"
													>Register</a
												>
											</p>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ======================= Login End ======================== -->

			<!-- ======================= Newsletter Start ============================ -->
			<section
				class="space bg-cover"
				style="background: #03343b url(assets/img/landing-bg.png) no-repeat"
			>
				<div class="container py-5">
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="text-light mb-0">Subscribr Now</h6>
								<h2 class="ft-bold text-light">
									Get All Updates & Advance Offers
								</h2>
							</div>
						</div>
					</div>

					<div class="row align-items-center justify-content-center">
						<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
							<form class="bg-white rounded p-1">
								<div class="row no-gutters">
									<div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-8">
										<div class="form-group mb-0 position-relative">
											<input
												type="text"
												class="form-control b-0"
												placeholder="Enter Your Email Address"
											/>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
										<div class="form-group mb-0 position-relative">
											<button
												class="btn full-width btn-height theme-bg text-light fs-md"
												type="button"
											>
												Subscribe
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- ======================= Newsletter Start ============================ -->

			<!-- ============================ Footer Start ================================== -->
			<footer class="light-footer skin-light-footer style-2">
				<div class="footer-middle">
					<div class="container">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
								<div class="footer_widget">
									<img
										src="assets/img/logo.png"
										class="img-footer small mb-2"
										alt=""
									/>

									<div class="address mt-2">
										61-65 Egbe- Isolo Road, Iyana Ejigbo Shopping Arcade,
										<br />Block A, Suite 19, Iyana Ejigbo Bus Stop, <br />
										Ejigbo, Lagos State, Nigeria.
									</div>
									<div class="address mt-3">
										+234-80-337-82-777 | +234-1-29 52 413
										<br />hello@reviewnigeria.ng
									</div>
									<div class="address mt-2">
										<ul class="list-inline">
											<li class="list-inline-item">
												<a href="#" class="theme-cl"
													><i class="lni lni-facebook-filled"></i
												></a>
											</li>
											<li class="list-inline-item">
												<a href="#" class="theme-cl"
													><i class="lni lni-twitter-filled"></i
												></a>
											</li>
											<li class="list-inline-item">
												<a href="#" class="theme-cl"
													><i class="lni lni-youtube"></i
												></a>
											</li>
											<li class="list-inline-item">
												<a href="#" class="theme-cl"
													><i class="lni lni-instagram-filled"></i
												></a>
											</li>
											<li class="list-inline-item">
												<a href="#" class="theme-cl"
													><i class="lni lni-linkedin-original"></i
												></a>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
								<div class="footer_widget">
									<h4 class="widget_title">Company</h4>
									<ul class="footer-menu">
										<li><a href="career/index">Career</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="blog">Blog</a></li>
										<li><a href="#">Terms of Services</a></li>
										<li><a href="#">How it works</a></li>
										<li><a href="#">Disclaimer and Phishing Claims</a></li>
										<li><a href="#">Cookie Policy</a></li>
										<li><a href="#">Modern Slavery Statement</a></li>
										<li><a href="#">GDPR Policy</a></li>
										<li>
											<a href="#"
												>Do Not Sell or Share My Personal Information</a
											>
										</li>
										<li><a href="#">Privacy Policy</a></li>
									</ul>
								</div>
							</div>

							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
								<div class="footer_widget">
									<h4 class="widget_title">For Business</h4>
									<ul class="footer-menu">
										<li><a href="#">Advertise With Us</a></li>
										<li><a href="#">Claim Your Business</a></li>
										<li><a href="#">Build A Marketing List</a></li>
										<li><a href="#">Send E-mail, SMS & Invite</a></li>
										<li><a href="survey">Survey & Polls</a></li>
										<li><a href="#">Mystery Shopping</a></li>
									</ul>
								</div>
							</div>

							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
								<div class="footer_widget">
									<h4 class="widget_title">Resource Center</h4>
									<ul class="footer-menu">
										<li><a href="#">Blog, Questtion and Answers</a></li>
										<li><a href="#">Newsletter Subscription</a></li>
										<li><a href="#">Frequently Asked Questions (FAQ)</a></li>
									</ul>
								</div>
							</div>

							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
								<div class="footer_widget">
									<h4 class="widget_title">For Reviewers</h4>
									<ul class="footer-menu">
										<li><a href="#">Sign In</a></li>
										<li><a href="#">Write a Review</a></li>
										<li><a href="#">Register As a Reviewer</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="footer-bottom br-top">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">
									<a style="color: blue" href="https://foramfera.com/"
										>© 2024 Foraminifera Market Research LTD.</a
									>
									All rights reserved.
								</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			<a id="tops-button" class="top-scroll" title="Back to top" href="#"
				><i class="ti-arrow-up"></i
			></a>
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<%- include('includes/end.ejs') %>
		<script src="assets/js/login.js"></script>

		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
	</body>

	<!-- Mirrored from themezhub.net/goodup-live/goodup/home-5 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Feb 2024 20:42:59 GMT -->
</html>
