<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('includes/head.ejs') %>
	</head>
	<body>
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div class="preloader"></div>

		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div id="main-wrapper">
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!-- Start Navigation -->
			<%- include('includes/header.ejs') %>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ======================= Home Banner ======================== -->
			<div
				class="home-banner margin-bottom-0"
				style="background: #f41b3b url(assets/img/banner-6.jpg) no-repeat"
				data-overlay="5"
			>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="banner_caption text-center mb-5">
								<h1 class="banner_title ft-bold mb-1">
									Nigeria's Largest Review Platform
								</h1>
								<p class="fs-md ft-medium">
									Review Nigeria NG enable businesses to harness the power of
									reviews and user generated content to boost sales and grow
									your businesses with confidence.
								</p>
								<p class="fs-md ft-medium">
									Great brands are built on happy customers. Review Nigeria NG
									sources genuine reviews which help users to make a real
									difference to their business. We're free to use, open to
									everybody, and built on transparency.
								</p>
							</div>

							<div class="Goodup-top-cates">
								<ul>
									<li>
										<a href="search" class="Goodup-top-cat-box"
											><div class="Goodup-tp-ico">
												<i class="fas fa-handshake"></i>
											</div>
											<div class="Goodup-tp-title"><h5>BUSINESS</h5></div></a
										>
									</li>
									<li>
										<a href="search" class="Goodup-top-cat-box"
											><div class="Goodup-tp-ico">
												<i class="fas fa-shopping-basket"></i>
											</div>
											<div class="Goodup-tp-title"><h5>PRODUCTS</h5></div></a
										>
									</li>
									<li>
										<a href="search" class="Goodup-top-cat-box"
											><div class="Goodup-tp-ico">
												<i class="fas fa-location-arrow"></i>
											</div>
											<div class="Goodup-tp-title">
												<h5>PLACE & TOURIST</h5>
											</div></a
										>
									</li>
									<li>
										<a href="search" class="Goodup-top-cat-box"
											><div class="Goodup-tp-ico">
												<i class="fas fa-music"></i>
											</div>
											<div class="Goodup-tp-title">
												<h5>ENTERTAINMENT</h5>
											</div></a
										>
									</li>
									<li>
										<a href="search" class="Goodup-top-cat-box"
											><div class="Goodup-tp-ico">
												<i class="fas fa-anchor"></i>
											</div>
											<div class="Goodup-tp-title"><h5>GOVERNMENT</h5></div></a
										>
									</li>
									<li>
										<a href="search" class="Goodup-top-cat-box"
											><div class="Goodup-tp-ico">
												<i class="fas fa-pencil-ruler"></i>
											</div>
											<div class="Goodup-tp-title"><h5>POLITICS</h5></div></a
										>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ======================= Home Banner ======================== -->

			<!-- ======================= Home Search ======================== -->
			<section class="p-0">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-11 col-lg-12 col-md-12 col-12">
							<div class="Goodup-search-shadow">
								<ul
									class="nav nav-tabs search-tab mb-3"
									id="myTab"
									role="tablist"
								>
									<li class="nav-item" role="presentation">
										<button
											class="nav-link active"
											id="placesseach-tab"
											data-bs-toggle="tab"
											data-bs-target="#placesseach"
											type="button"
											role="tab"
											aria-controls="placesseach"
											aria-selected="true"
										>
											Places
										</button>
									</li>
									<li class="nav-item" role="presentation">
										<button
											class="nav-link"
											id="carseach-tab"
											data-bs-toggle="tab"
											data-bs-target="#carseach"
											type="button"
											role="tab"
											aria-controls="carseach"
											aria-selected="false"
										>
											Car
										</button>
									</li>
									<li class="nav-item" role="presentation">
										<button
											class="nav-link"
											id="realseach-tab"
											data-bs-toggle="tab"
											data-bs-target="#realseach"
											type="button"
											role="tab"
											aria-controls="realseach"
											aria-selected="false"
										>
											Real Estate
										</button>
									</li>
									<li class="nav-item" role="presentation">
										<button
											class="nav-link"
											id="eventseach-tab"
											data-bs-toggle="tab"
											data-bs-target="#eventseach"
											type="button"
											role="tab"
											aria-controls="eventseach"
											aria-selected="false"
										>
											Events
										</button>
									</li>
								</ul>
								<div class="tab-content" id="myTabContent">
									<div
										class="tab-pane fade show active"
										id="placesseach"
										role="tabpanel"
										aria-labelledby="placesseach-tab"
									>
										<form class="main-search-wrap fl-wrap">
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-keyboard"></i
												></span>
												<input
													type="text"
													class="form-control radius"
													placeholder="What are you looking for?"
												/>
											</div>
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-map-marker"></i
												></span>
												<input
													type="text"
													class="form-control"
													placeholder="San Francisco, CA"
												/>
											</div>
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-briefcase"></i
												></span>
												<select class="form-control">
													<option value="">Choose Category</option>
													<option value="1">Restaurants</option>
													<option value="2">Information Technology</option>
													<option value="3">Hotel Booking</option>
													<option value="4">Cafe & Night Bars</option>
													<option value="5">Healthcare/Pharma</option>
													<option value="6">Wedding & Marriage</option>
													<option value="7">Finance/Insurance</option>
												</select>
											</div>
											<div class="main-search-button">
												<button
													class="btn full-width theme-bg text-white"
													type="button"
												>
													Search
												</button>
											</div>
										</form>
									</div>
									<div
										class="tab-pane fade"
										id="carseach"
										role="tabpanel"
										aria-labelledby="carseach-tab"
									>
										<form class="main-search-wrap fl-wrap">
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-keyboard"></i
												></span>
												<input
													type="text"
													class="form-control radius"
													placeholder="car type, car name"
												/>
											</div>
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-map-marker"></i
												></span>
												<input
													type="text"
													class="form-control"
													placeholder="Price"
												/>
											</div>
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-briefcase"></i
												></span>
												<select class="form-control">
													<option value="">Choose Car Brand</option>
													<option value="1">Tata Nexon</option>
													<option value="2">BMW Brand</option>
													<option value="3">Maruti Suzuki</option>
													<option value="4">Hundai Company</option>
													<option value="5">Kia Company</option>
													<option value="6">Mahindra Company</option>
												</select>
											</div>
											<div class="main-search-button">
												<button
													class="btn full-width theme-bg text-white"
													type="button"
												>
													Search
												</button>
											</div>
										</form>
									</div>
									<div
										class="tab-pane fade"
										id="realseach"
										role="tabpanel"
										aria-labelledby="realseach-tab"
									>
										<form class="main-search-wrap fl-wrap">
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-keyboard"></i
												></span>
												<input
													type="text"
													class="form-control radius"
													placeholder="Job Title, Keyword or Company"
												/>
											</div>
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-map-marker"></i
												></span>
												<input
													type="text"
													class="form-control"
													placeholder="Location or Zip Code"
												/>
											</div>
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-briefcase"></i
												></span>
												<select class="form-control">
													<option value="">Property Type</option>
													<option value="1">Homes & Villa</option>
													<option value="2">Apartment</option>
													<option value="3">Condos</option>
													<option value="4">Space & Office</option>
													<option value="5">Town Hall</option>
													<option value="6">Buildings</option>
												</select>
											</div>
											<div class="main-search-button">
												<button
													class="btn full-width theme-bg text-white"
													type="button"
												>
													Search
												</button>
											</div>
										</form>
									</div>
									<div
										class="tab-pane fade"
										id="eventseach"
										role="tabpanel"
										aria-labelledby="eventseach-tab"
									>
										<form class="main-search-wrap fl-wrap">
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-keyboard"></i
												></span>
												<input
													type="text"
													class="form-control radius"
													placeholder="Job Title, Keyword or Company"
												/>
											</div>
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-map-marker"></i
												></span>
												<input
													type="text"
													class="form-control"
													placeholder="Location or Zip Code"
												/>
											</div>
											<div class="main-search-item">
												<span class="search-tag"
													><i class="lni lni-briefcase"></i
												></span>
												<select class="form-control">
													<option value="">Choose Categories</option>
													<option value="1">Festaurants</option>
													<option value="2">Information Technology</option>
													<option value="3">Cloud Computing</option>
													<option value="4">Engineering Services</option>
													<option value="5">Healthcare/Pharma</option>
													<option value="6">Telecom/ Internet</option>
													<option value="7">Finance/Insurance</option>
												</select>
											</div>
											<div class="main-search-button">
												<button
													class="btn full-width theme-bg text-white"
													type="button"
												>
													Search
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ======================= Home Search End ======================== -->

			<!-- ======================= All Types Listing ======================== -->
			<section class="space min">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<!--<h6 class="theme-cl mb-0">Featured Listings</h6>-->
								<h2 class="ft-bold">Featured Listings</h2>
							</div>
						</div>
					</div>

					<!-- row -->
					<div class="row align-items-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<ul
								class="nav nav-tabs small-tab mb-3"
								id="myTabs"
								role="tablist"
							>
								<% for (let item of uniqueCategories) { %>

								<li class="nav-item" role="presentation">
									<button
										class="nav-link <%= item._id === uniqueCategories[0]._id ? 'active' : '' %>"
										id="<%= item._id %>-tab"
										data-bs-toggle="tab"
										data-bs-target="#<%= item._id %>"
										type="button"
										role="tab"
										aria-controls="<%= item._id %>"
										aria-selected="<%= item._id === uniqueCategories[0]._id %>"
									>
										<%= item._id %>
									</button>
								</li>
								<% } %>
							</ul>
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="tab-content" id="myTabsContent">
								<% if (listings.length > 0) { %> <%
								uniqueCategories.forEach(category => { %>
								<div
									class="tab-pane fade <%= category._id === uniqueCategories[0]._id ? 'show active' : '' %>"
									id="<%= category._id %>"
									role="tabpanel"
									aria-labelledby="<%= category._id %>-tab"
								>
									<div class="row justify-content-center">
										<% listings.filter(listing => listing.category ===
										category._id).forEach(item => { %>
										<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
											<div class="Goodup-grid-wrap">
												<div class="Goodup-grid-upper">
													<div class="Goodup-pos ab-left">
														<div class="Goodup-status close me-2">Closed</div>
													</div>
													<div class="Goodup-grid-thumb">
														<a
															href="listings/<%= item?._id %>"
															class="d-block text-center m-auto"
															><img
																src="<%= item?.featuredImage?.url %>"
																class="img-fluid"
																alt=""
																type="image/jpeg"
														/></a>
													</div>
													<div class="Goodup-rating overlay">
														<div class="Goodup-pr-average high">4.8</div>
														<div class="Goodup-aldeio">
															<div class="Goodup-rates">
																<i class="fas fa-star"></i>
																<i class="fas fa-star"></i>
																<i class="fas fa-star"></i>
																<i class="fas fa-star"></i>
																<i class="fas fa-star"></i>
															</div>
															<div class="Goodup-all-review">
																<span>46 Reviews</span>
															</div>
														</div>
													</div>
												</div>
												<div class="Goodup-grid-fl-wrap">
													<div class="Goodup-caption px-3 py-2">
														<div class="Goodup-author">
															<a href="author/<%= item.userId %>"
																><img
																	src="assets/img/t-1.png"
																	class="img-fluid circle"
																	alt="author"
															/></a>
														</div>
														<h4 class="mb-0 ft-medium medium">
															<a
																href="listings/<%= item._id %>"
																class="text-dark fs-md"
																><%= item?.businessName || item?.productName
																%></a
															>
														</h4>
														<div class="Goodup-location">
															<i class="fas fa-map-marker-alt me-1 theme-cl"></i
															><%= item.address %>
														</div>
														<div class="Goodup-middle-caption mt-3">
															<p>
																<%= item?.description?.slice(0, 40) +
																(item?.description?.length > 40 ? '...' : '') %>
															</p>
														</div>
													</div>
													<div class="Goodup-grid-footer py-2 px-3">
														<div class="Goodup-ft-first">
															<a
																href="half-map-search-2"
																class="Goodup-cats-wrap"
																><div class="cats-ico bg-2">
																	<i class="lni lni-slim"></i>
																</div>
																<span class="cats-title"
																	><%= item.category %> &amp; <%= item.category
																	%></span
																></a
															>
														</div>
														<div class="Goodup-ft-last">
															<div class="Goodup-inline">
																<div class="Goodup-bookmark-btn">
																	<button type="button">
																		<i
																			class="lni lni-envelope position-absolute"
																		></i>
																	</button>
																</div>
																<div class="Goodup-bookmark-btn">
																	<form action="saved-listings/<%= item._id %>">
																		<button type="submit">
																			<i
																				class="lni lni-heart-filled position-absolute"
																			></i>
																		</button>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<% }) %>
									</div>
								</div>
								<% }) %> <% } %>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
			</section>
			<!-- ======================= All Types Listing ======================== -->

			<!-- ======================= Listing Categories ======================== -->
			<section class="space min gray">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="mb-0 theme-cl">Popular Categories</h6>
								<h2 class="ft-bold">Browse Top Categories</h2>
							</div>
						</div>
					</div>

					<!-- row -->
					<div class="row align-items-center">
						<% if (topCategories.length> 0) { %> <% for (let category of
						topCategories) { %>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="cats-wrap text-center">
								<a
									href="search?category=<%= category._id.toLowerCase() %>"
									class="Goodup-catg-wrap"
								>
									<div class="Goodup-catg-city">
										<%= category.cities %> Cities
									</div>
									<div class="Goodup-catg-icon">
										<i class="fas fa-stethoscope"></i>
									</div>
									<div class="Goodup-catg-caption">
										<h4 class="fs-md mb-0 ft-medium m-catrio">
											<%= category.category.toUpperCase() %>
										</h4>
										<span class="text-muted"
											><%= category.listings %> Listings</span
										>
									</div>
								</a>
							</div>
						</div>
						<% } %> <% } %>
					</div>
					<!-- row -->
				</div>
			</section>
			<!-- ======================= Listing Categories End ======================== -->

			<!-- ======================= About Start ============================ -->
			<section class="space">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
							<div class="m-spaced">
								<div class="position-relative">
									<h2 class="ft-bold mb-3">
										Claim Your Business & <br />Get Started Today!
									</h2>
									<p class="mb-2">
										If your product, service, business and profile is listed on
										our site, claim your listing to manage it. You will be able
										to update your company information and product description,
										making it easier for buyers to understand what you do.
									</p>
									<p class="mb-4">
										And you’ll get free access to how views of your product
										compare to your competitors. It’s free and just takes
										minutes. Claim your listing now. Review Nigeria NG core
										features are free but we give our users, companies and
										service providers the option to increase their visibility
										and receive more inquiries by offering a variety of options.
									</p>
								</div>
								<div class="position-relative row">
									<div class="col-lg-12 col-md-12 col-12 mt-3">
										<a
											href="pricing"
											class="btn btn-md theme-bg-light rounded theme-cl hover-theme"
											>See Details<i class="lni lni-arrow-right-circle ms-2"></i
										></a>
									</div>
								</div>
							</div>
						</div>

						<div
							style="margin-top: 20px"
							class="col-xl-5 col-lg-5 col-md-12 col-sm-12"
						>
							<div class="position-relative">
								<img
									style="border-radius: 10px; width: 100%"
									src="2.jpg"
									class="img-fluid"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ======================= About Start ============================ -->

			<!-- ======================= About Start ============================ -->
			<section class="space pt-0">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
							<div class="position-relative">
								<img
									style="width: 100%; border-radius: 10px"
									src="3.jpg"
									class="img-fluid"
									alt=""
								/>
							</div>
						</div>
						<div
							style="margin-top: 10%"
							class="col-xl-6 col-lg-6 col-md-12 col-sm-12"
						>
							<div class="m-spaced">
								<div class="position-relative">
									<h2 class="ft-bold mb-3">How it works & <br />Features</h2>
									<p class="mb-3">
										In today's digital age, finding businesses, reading reviews,
										and making reservations have become integral parts of our
										consumer experience. Review and booking websites serve as
										invaluable platforms that streamline this process, offering
										users convenience, transparency, and access to a plethora of
										options.
									</p>
								</div>
								<div class="uli-list-features">
									<ul>
										<li>
											<div class="list-uiyt">
												<div class="list-iobk">
													<i class="fas fa-globe"></i>
												</div>
												<div class="list-uiyt-capt">
													<h5>Find Businesses</h5>
													<p>
														The first step in utilizing our website is finding
														businesses relevant to your needs. Whether you're
														searching for a restaurant, hotel, salon, or any
														other service, these platforms offer intuitive
														search functionalities to help you narrow down your
														options.
													</p>
												</div>
											</div>
										</li>

										<li>
											<div class="list-uiyt">
												<div class="list-iobk">
													<i class="fas fa-envelope"></i>
												</div>
												<div class="list-uiyt-capt">
													<h5>Review Listings</h5>
													<p>
														Once you've identified potential businesses, the
														next step is to review their listings to gather
														information and insights that aid in your
														decision-making process. Listings typically include
														details such as business descriptions, reviews from
														previous customers, photos, operating hours, contact
														information, and more.
													</p>
												</div>
											</div>
										</li>

										<li>
											<div class="list-uiyt">
												<div class="list-iobk">
													<i class="fas fa-phone"></i>
												</div>
												<div class="list-uiyt-capt">
													<h5>Make a Reservation</h5>
													<p>
														After evaluating listings and settling on a
														preferred business, the final step is to make a
														reservation or booking. Review and booking websites
														facilitate this process by offering convenient
														booking systems and integration with third-party
														reservation platforms.
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ======================= About Start ============================ -->

			<!-- ============================ Pricing Start ==================================== -->
			<section class="space min gray">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-5 col-lg-7 col-md-9 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="theme-cl mb-0">Our Pricing</h6>
								<h2 class="ft-bold">Choose Your Package</h2>
							</div>
						</div>
					</div>

					<div class="row">
						<% if (prices.length> 0) { %> <% for (let price of prices) { %>
						<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
							<div class="Goodup-price-wrap">
								<div class="Goodup-author-header">
									<div class="Goodup-price-currency">
										<h3>
											<span class="Goodup-new-price"
												>$<del><%= price.price %></del></span
											><span class="Goodup-old-price"
												>$<del><%= Number(price.price * 2) %></del></span
											>
										</h3>
									</div>
									<div class="Goodup-price-title">
										<div class="Goodup-price-tlt">
											<h4><%= price.title %></h4>
										</div>
										<div class="Goodup-price-ribbon">
											<span
												class="Goodup-ribbon-offer <%= price.isPrimary !== true ? 'all' : '' %>"
												>50% Off</span
											>
										</div>
									</div>
									<div class="Goodup-price-subtitle"><%= price.subtitle %></div>
								</div>
								<div class="Goodup-price-body">
									<ul class="price__features">
										<li>
											<i class="fa fa-angle-right"></i>Lifetime Bandwidth Usage
										</li>
										<li>
											<i class="fa fa-angle-right"></i>6 Months Support &amp;
											Updates
										</li>
										<li><i class="fa fa-angle-right"></i>10 Website License</li>
										<li>
											<i class="fa fa-angle-right"></i>Quickstart Included
										</li>
										<li>
											<i class="fa fa-angle-right"></i>Access to Plugins &amp;
											Theme
										</li>
										<li>
											<i class="fa fa-angle-right"></i>Branding/Copyright
											Removal
										</li>
									</ul>
								</div>
								<div class="Goodup-price-bottom">
									<a
										class="Goodup-price-btn <%= price.isPrimary === true ? 'active' : '' %>"
										href="pricing/<%= price._id %>"
										><i class="fas fa-shopping-basket"></i> Purchase Now</a
									>
								</div>
							</div>
						</div>
						<% } %> <% } %>
					</div>
				</div>
			</section>
			<!-- ============================ Pricing End ==================================== -->

			<!-- ======================= Blog Start ============================ -->
			<section class="space min">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-4">
								<h6 class="theme-cl mb-0">Latest News</h6>
								<h2 class="ft-bold">Pickup New Updates</h2>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<!-- Single Item -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="gup_blg_grid_box">
								<div class="gup_blg_grid_thumb">
									<a href="blog-detail"
										><img src="assets/img/b-4.jpg" class="img-fluid" alt=""
									/></a>
								</div>
								<div class="gup_blg_grid_caption">
									<div class="blg_tag"><span>Marketing</span></div>
									<div class="blg_title">
										<h4>
											<a href="blog-detail"
												>What Is a VPN and How Does It Work?</a
											>
										</h4>
									</div>
									<div class="blg_desc">
										<p>
											At vero eos et accusamus et iusto odio dignissimos ducimus
											qui blanditiis praesentium voluptatum
										</p>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div
										class="crs_flex d-flex align-items-center justify-content-between br-top px-3 py-2"
									>
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb">
													<a href="javascript:void(0);"
														><img
															src="assets/img/team-2.jpg"
															class="img-fluid circle"
															width="35"
															alt=""
													/></a>
												</div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul>
													<li>
														<div class="elsio_ic">
															<i class="fa fa-eye text-success"></i>
														</div>
														<div class="elsio_tx">10k Views</div>
													</li>
													<li>
														<div class="elsio_ic">
															<i class="fa fa-clock text-warning"></i>
														</div>
														<div class="elsio_tx">10 July 2021</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="gup_blg_grid_box">
								<div class="gup_blg_grid_thumb">
									<a href="blog-detail"
										><img src="assets/img/b-5.jpg" class="img-fluid" alt=""
									/></a>
								</div>
								<div class="gup_blg_grid_caption">
									<div class="blg_tag"><span>Business</span></div>
									<div class="blg_title">
										<h4>
											<a href="blog-detail"
												>What Is Ransomware: The Ultimate Guide?</a
											>
										</h4>
									</div>
									<div class="blg_desc">
										<p>
											At vero eos et accusamus et iusto odio dignissimos ducimus
											qui blanditiis praesentium voluptatum
										</p>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div
										class="crs_flex d-flex align-items-center justify-content-between br-top px-3 py-2"
									>
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb">
													<a href="javascript:void(0);"
														><img
															src="assets/img/team-3.jpg"
															class="img-fluid circle"
															width="35"
															alt=""
													/></a>
												</div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul>
													<li>
														<div class="elsio_ic">
															<i class="fa fa-eye text-success"></i>
														</div>
														<div class="elsio_tx">10k Views</div>
													</li>
													<li>
														<div class="elsio_ic">
															<i class="fa fa-clock text-warning"></i>
														</div>
														<div class="elsio_tx">10 July 2021</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="gup_blg_grid_box">
								<div class="gup_blg_grid_thumb">
									<a href="blog-detail"
										><img src="assets/img/b-6.jpg" class="img-fluid" alt=""
									/></a>
								</div>
								<div class="gup_blg_grid_caption">
									<div class="blg_tag"><span>Accounting</span></div>
									<div class="blg_title">
										<h4>
											<a href="blog-detail"
												>Can iPads Get Viruses? What You Need</a
											>
										</h4>
									</div>
									<div class="blg_desc">
										<p>
											At vero eos et accusamus et iusto odio dignissimos ducimus
											qui blanditiis praesentium voluptatum
										</p>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div
										class="crs_flex d-flex align-items-center justify-content-between br-top px-3 py-2"
									>
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb">
													<a href="javascript:void(0);"
														><img
															src="assets/img/team-5.jpg"
															class="img-fluid circle"
															width="35"
															alt=""
													/></a>
												</div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul>
													<li>
														<div class="elsio_ic">
															<i class="fa fa-eye text-success"></i>
														</div>
														<div class="elsio_tx">10k Views</div>
													</li>
													<li>
														<div class="elsio_ic">
															<i class="fa fa-clock text-warning"></i>
														</div>
														<div class="elsio_tx">10 July 2021</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ======================= Blog Start ============================ -->

			<!-- ======================= Newsletter Start ============================ -->
			<section
				class="space bg-cover"
				style="background: #03343b url(assets/img/landing-bg.png) no-repeat"
			>
				<div class="container py-5">
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="text-light mb-0">Subscribe Now</h6>
								<h2 class="ft-bold text-light">
									Get All Updates & Advance Offers
								</h2>
							</div>
						</div>
					</div>

					<div class="row align-items-center justify-content-center">
						<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
							<form class="bg-white rounded p-1">
								<div class="row no-gutters">
									<div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-8">
										<div class="form-group mb-0 position-relative">
											<input
												type="text"
												class="form-control b-0"
												placeholder="Enter Your Email Address"
											/>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
										<div class="form-group mb-0 position-relative">
											<button
												class="btn full-width btn-height theme-bg text-light fs-md"
												type="button"
											>
												Subscribe
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- ======================= Newsletter Start ============================ -->

			<!-- ============================ Footer Start ================================== -->
			<%- include('includes/footer.ejs') %>
			<!-- ============================ Footer End ================================== -->
			<a id="tops-button" class="top-scroll" title="Back to top" href="#"
				><i class="ti-arrow-up"></i
			></a>
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<%- include('includes/end.ejs') %>
		<script src="assets/js/index.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
	</body>
	<!-- Start cookieyes banner -->
	<script
		id="cookieyes"
		type="text/javascript"
		src="https://cdn-cookieyes.com/client_data/2047b3c28ff723db7e4a4e2d/script.js"
	></script>
	<!-- End cookieyes banner -->

	<!-- Mirrored from themezhub.net/goodup-live/goodup/home-5 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Feb 2024 20:42:59 GMT -->
</html>
